body {
    margin: 10%;
    /* background-color: #FBAB7E; */
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 70%);
    background-image: url("/Assets/bgpic.jpg");

}

img {
    box-shadow: 0px 4px 15px 1px rgba(20, 12, 12, 0.96);
}

p {
    padding:30px;
    margin: 20px;
    font-family: 'Laila', serif;
}